/*Some default styling*/
body, html {
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255,255,255, 0) 100%), url('../img/rainbow_blocks_background.jpg') bottom no-repeat, url('../img/rainbow_blocks_background.jpg') top center no-repeat!important;
}

section:not(#navbar), footer {
	padding: 50px 0;
}

nav.navbar {
	background: rgba(0, 148, 50, .9);
}

nav.navbar a {
	color: white;
}

footer {
	background: rgba(238, 90, 36,1.0);
	color: white;
}

h1:after, h2:after {
	content: '';
	display: block;
	border-bottom: 5px solid rgba(0, 148, 50,1.0);
	max-width: 50px;
}

.card {
	background: rgba(0, 148, 50,.8)!important;
	color: white!important;
}

.card button {
	color: white!important;
}

.btn {
	background: rgba(238, 90, 36,1.0)!important;
}

/*Some styling to the slider*/
.carousel-item img {
	max-height: 600px;
}

.carousel-inner {
	border-radius: 25px;
}

.profile-picture {
	position: absolute;
	bottom: -50px;
	right: 50px;
}

.profile-picture img {
	width: 200px;
	height: auto;
	border: 2px solid black;
	border-radius: 100px;
}

