/*Some default styling*/
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif!important;
}

main {
	margin-top: 60px;
	min-height: 66.2vh;
	background: linear-gradient(to bottom, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 85%, rgba(255,255,255, .5) 100%), url('../img/rainbow_blocks_background.jpg') bottom no-repeat, url('../img/rainbow_blocks_background.jpg') top center no-repeat!important;
}

section:not(#navbar), footer {
	padding: 50px 0;
}

/*Some navbar styling*/
nav.navbar {
	background: rgba(255, 255, 255, 1);
}

nav.navbar a {
	color: #282D31;
	transition: .3s ease-out;
}

.navbar-brand {
	transition: .3s ease-out;
}

.navbar-brand:hover, nav.navbar a:hover {
	transform: scale(1.1);	
}

footer {
	background: #282D31;
	color: white;
}

h1:after, h2:after {
	content: '';
	display: block;
	border-bottom: 5px solid #cecece;
	max-width: 50px;
}

/*Card styling*/

.card button {
	color: #282D31;
}

.card {
	transition: .3s ease-out;
}

.card:hover {
	transform: scale(1.1);
}

.accordion .card:hover {
	transform: none;
}

a.btn {
	color: #282D31;
}

.btn {
	background: #cecece;
}

.carousel-inner, .profile-picture, nav.navbar, .card {
	-webkit-box-shadow: 10px 10px 33px -5px rgba(0,0,0,0.2);
	-moz-box-shadow: 10px 10px 33px -5px rgba(0,0,0,0.2);
	box-shadow: 10px 10px 33px -5px rgba(0,0,0,0.2);
}

.collapse .card-body{
	background: linear-gradient(to bottom, rgba(255,255,255, .8), rgba(255,255,255, .8)), url('../img/wallpaper_lol.jpg') center 20%;
}

/*Some styling to the slider*/
.carousel-item img {
	max-height: 600px;
}

.carousel-inner {
	border-radius: 25px;
}

.profile-picture {
	position: absolute;
	bottom: -50px;
	right: 50px;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 2px solid #282D31;
	background: url('../img/profile_pic.jpg');
	background-size: contain;
	transition: .3s ease-out;
}

.profile-picture:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 1199px){
	.carousel-item img {
		max-height: 523px;
	}
}

@media screen and (max-width: 991px){
	.profile-picture {
		width: 150px;
		height: 150px;
	}

	.carousel-item img {
		max-height: 388px;
	}
}

@media screen and (max-width: 767px){
	.profile-picture {
		width: 100px;
		height: 100px;
	}

	.carousel-item img {
		max-height: 231px;
	}
}

/*Styling icons*/
i.fab {
	font-size: 30px;
	padding: 15px;
	color: white;
	transition: .3s ease-out;
}

i.fab:hover {
	transform: scale(1.5);
}

/*Styling banners*/

section.banner {
	background: url('../img/laptop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

section.banner h1 {
	color: white;
}

/*Styling form*/

.contact_form {
	padding: 15px;
}

.contact_form input, .contact_form textarea {
	background-color: #f6f6f6;
	border: 0;
	padding: 5px;
	transition: .3s ease-out;
}

.contact_form input:hover, .contact_form textarea:hover, .contact_form input:focus, .contact_form textarea:focus {
	transform: scale(1.1);
	border: 1px solid #cecece;
}

.contact_form label {
	display: block;
	font-weight: bold;
}

.contact_form td {
	padding: 5px;
}

.contact_form textarea {
	width: 100%;
	min-height: 200px;
}

.contact_form input[type="submit"]{
	border: none;
	padding: 5px 20px;
	color: white;
	background-color: #cecece;
	transition: .3s ease-out;
}

.contact_form input[type="submit"]:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.contact_form input[name="subject"]{
	width: 100%;
}